body{ 
	margin-right: 0px; 
	background: black; 
}

div#background{
	width: 1300px;
	height: 600px;
	margin: 4% auto;
	background: url(forest.png) repeat;
	animation: animate-background linear 12s infinite;
}

@keyframes animate-background {
	from { 
		background-position: 0px 0px; 
	} 
	to { 
		background-position:  0px 0px; 
	}


}
