body{ 
	margin-right: 0px; 
	background: black; 
}

div#background{
	width: 1300px;
	height: 600px;
	margin: 3% auto;
	background: url(forest.png) repeat;
	animation: animate-background linear 12s infinite;
}

@keyframes animate-background {
	from { 
		background-position: 0px 0px; 
	} 
	to { 
		background-position:  0px 0px; 
	}


}

input{
	background-color: #008000;
	text-decoration-color: white;
}

#score {
	position: absolute;
	color:#000000;
	font-size: 18pt;
	top:80px;
	right:12%;
}

#lives {
	position: absolute;
	color:#000000;
	font-size: 18pt;
	top:80px;
	left:12%;
}

#highscore {
	position: absolute;
	color:#000000;
	font-size: 18pt;
	top:80px;
	left:50%;
        
    
	
	
}
