button{
	background: none;
	border: none;
	text-decoration: none;
	display: block;
	margin-bottom: 90;
	width: 5%;
	height: 5%;	
	margin-left: 200%;

}

img{
	width: 100%;
	height: 100%;
	border:none;
}


.play, .pause {
	width:100px;height:100px;
	background: none;
	width: 6%;
	height: 6%;

}

input{
		margin-left: 85%;	
}

