button{
	background: none;
	border: none;
	text-decoration: none;
	display: inline;
	width: 5%;
	height: 5%;	


}

img{
	width: 90%;
	height: 90%;
	border:none;
	display: inline;
}

#Off{
	border:none;
}

#On{
	border:none;
}

#sound{
	display: block;
}

.play, .pause {
	width:100px;height:100px;
	background: none;
	width: 5%;
	height: 5%;

}
