body{ 
    margin-right: 0px; 
    background: black; 
}

div#background{
    width: 1300px;
    height: 600px;
    margin: 2.3% auto;
    background: url(forest.png) repeat;
    animation: animate-background linear 12s infinite;
}

@keyframes animate-background {
    from { 
        background-position: 0px 0px; 
    } 
    to { 
        background-position:  0px 0px; 
    }


}


.box
{
    position: absolute;
    top: 21%; /* position of the box, range of value[30% - 70%] */
    left: 48%; /* position of the box, range of value[15% - 85%]  */
    transform: translate(-50%,-50%);
    width: 40%;
    height: 28%;
    background: #001e2d;
    opacity: 70%;   
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,0.5);
}
.box:before 
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    transition: 0.5s;
    pointer-events: none;
}
.box:hover:before 
{
    left: -0.0001%;
}
.box .content 
{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid yellow;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}
.box .content h2 
{
    color: red;
    font-size: 30px;
    text-shadow: 1.5px 1.5px white;
    margin: 0 0 10px;
    padding: 0;
}




span
{
    color: #8acc44;
    font-size: 100%;;
}

span:before
{
    content: ''; 
    animation: animate infinite 100s;
}

@keyframes animate 
{
    0%
    {
        font-size: 150%;
        font-family: poppins;
        color: yellow; 
        content: 'ON THIS SCREEN, YOU CAN CONTROL THE DODO USING THE ARROW KEYS. ';
    }
    10%
    {
      
        color: aqua;
        content: 'GAME STORY : ' ;
        font-size: 200%;
        font-weight: bolder;  

    }
    20%
    {
        font-size: 130%;
        color: aqua;
        content: ' 1. Our dodo is wandering around and has to join the other dodos walking ahead of him. ' ;
    }
    30%
    {

        color: aqua;
        content: ' 2. However, the other dodos get killed by the Dutch Hunters and they come for the last one. Our shooter arrives on time to try & save IT from extincition.';
        font-size: 130%; !important ;
        color: lightskyblue !important ;
    }
    50%
    {
        color: lightskyblue !important; 
        content: ' HISTORY of DODOs : ';
        font-size: 150%;
        font-weight: bolder;
        color: lime;

    }
    55%
    {
        font-family: poppins;
        font-size: 120%;
        content: 'The Dodos stood up to 1 metre tall and weighed in at approximately 20Kg and inhabited the Island of Mauritius. The bird was bulky, slow with short wings that prevented it from flying.' ;
        font-size: 120%;
        color: lime;        
    }
    70%
    {
        content: 'The dodo was entirely fearless of humans. This fearlessness and its inability to fly made the dodo easy prey for sailors. ';
        font-size: 140%;
        color: lime; 
    }  
    80%
    {
        content: 'The Dodos had no experience of any types of predators before the  first arrival of the Dutch in 1598. They were passive creatures even when approached by human visitors for the first time. ';
        font-size: 120%;
        color: lime;
    }
    90%
    {
        content: 'Its consumption became common and most appreciated by the Dutch living on the island. However, humans were not the only predators. Rats and monkeys escaped from ships and posed a threat to Dodo eggs and chicks. ';
        font-size: 110%;
        color: lime; 
    }
    100%
    {
        font-size: 130%; color: lime; 
        content: 'And this is how the Dodos became EXTINCT. ';
        font-weight: bolder;
        color: red; 
    }

}


.center{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,0%);


}
ul{
    padding: 0px;
    margin: 0px;
    margin-top: 8%;
}
ul li{
    list-style: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    border-radius: 15px;
    font-family: arial;
    padding: 5% 0% 0% 0%;
    display: inline;
    position: relative;
}
ul li a{
    text-decoration: none;
    padding: 15px 35px;
    display: inline;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
ul li:nth-child(1) a{
    color: red;
    border: 2px solid rgb(0,255,0,1);
}
ul li:nth-child(1):hover a{
    box-shadow: 0px 0px 10px rgb(0,255,0,0.5), 0px 0px 10px rgb(0,0,252,1);
    background-color: rgb(0,0,255,0.3);
}

ul li:nth-child(2) a{
    color: red;
    border: 2px solid rgb(0,255,0,1);
}
ul li:nth-child(2):hover a{
    box-shadow: 0px 0px 10px rgb(0,0,255,0.5), 0px 0px 10px rgb(0,0,252,1);
    background-color: rgb(0,0,255,0.3);
}


